

<p>Address: <%= @home_listing.home_address %></p>
<p>Bedroom: <%= @home_listing.bedroom %></p>
<p>Bathroom: <%= @home_listing.bathroom %></p>
<p>Price: $<%= @home_listing.price %></p>
<p><%= @home_listing.description %></p>

<% if authorized_to_edit?(@home_listing) %>
    <a href="/home_listings/<%=@home_listing.id%>/edit">Edit Listing</a>
    <a>Delete Listing</a>
<% end %>